select:invalid {
    height: 0px !important;
    opacity: 0 !important;
    position: absolute !important;
    display: flex !important;
    margin-top: 20px !important;
    margin-left: 50px !important;
}

select:invalid[multiple] {
    margin-top: 20px !important;
    margin-left: 50px !important;
}

.container {
    max-width: 900px
}

.homeJT {
    background-image: url(../Images/hands.jpg);
    background-size: cover;
    background-position: top;
    min-height: 500px;
    
}

